<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173678365650-jcjc75f4e164q1ka7atc88fm997meu72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173678365650-jcjc75f4e164q1ka7atc88fm997meu72</string>
	<key>API_KEY</key>
	<string>AIzaSyA3Qa7X3kDNWNHS73Btx0_NnSRMSJFJoBw</string>
	<key>GCM_SENDER_ID</key>
	<string>173678365650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>staytrippin.interface</string>
	<key>PROJECT_ID</key>
	<string>stay-trippin</string>
	<key>STORAGE_BUCKET</key>
	<string>stay-trippin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173678365650:ios:1f980b87ac3c0a7353160b</string>
</dict>
</plist>